@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

@import 'includes';

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: $color-black;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 500;
  background: #E5E5E5;
}

p {
  margin: 1em 0;  // todo
}

.button {
  width: 249px;
  height: 48px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
  border: none;
  background: $color-white;
  border-radius: 8px;
  color: $color-violet;
  stroke: $color-violet;
  font-size: 1em;
  font-weight: 600;
  font-family: Montserrat;
  cursor: pointer;
  svg.app-icon {
    height: 1.4em;
    width: 1.4em;
    display: inline-block;
    margin-bottom: -0.3em;
    margin-right: 1.1em;
  }

  &.orange {
    color: $color-orange;
    stroke: $color-orange;
  }

  &.main {
    color: $color-white;
    stroke: $color-white;
    background: $color-violet;
  }

  &:disabled {
    background: rgba(17, 15, 72, 0.05);
    color: transparentize($color-black, 0.8);
    stroke:transparentize($color-black, 0.8);
    box-shadow: none;
    cursor: unset;
  }
}
